* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Courier New', Courier, monospace;
  line-height: 1.7;
  font-size: 1rem;
}

html,
body {
  width: 100%;
}

body {
  padding: 5vh;
  background-color: #ffffff;
  color: rgb(56, 30, 1);
}
